/* .hero {
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/g3.jpg);
	background-size: cover;
	background-position: center;
} */
/* nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 2px;
	padding-left: 5%;
	padding-right: 5%;
	
	background-color: crimson;
	height: 70px;
	

}  */
/* .logo{
	color: white;
	font-size: 18px;
} */
/* span{
	color: rgb(94, 0, 24); 
} */
 /* ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
} */
 /* a{
	color: white;
	text-decoration: none;
	font-weight: bold;
} */
 /* a:hover{
	color: brown;
	transition: .3s;
} */
/* a:link{
	text-decoration: none;
} */
/* button{
	border: none;
	background: brown;
	border-radius: 30px;
	padding: 12px 30px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	transition: .4s;
} */
/* button:hover{
	transform: scale(1.3);
	cursor: pointer;
} */
.caro{
    height: 600px;
}
.caroimg{
	height: 600px;
	}
	.carocon{
		margin-bottom: 20px;
	}
/* .head1{
	text-align: center;
	margin-bottom: 20px;
} */
.abt{
	margin-top: 30px;
	margin-bottom: 30px;
}
.imgcard{
	height: 250px;
}
.footer{
	background-color: crimson;
	padding-top: 5px;
	color: white;
}

.navimg{
	width: 100px;
	height: auto;
}
.navcon{
	padding-left: 5%;
	padding-right: 5%;
}
.navli{
	justify-content: end;
}
